*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(218, 218, 218);
    max-width: 75em;
    height: auto;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-sup{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: .5em;
    background-color: orange;
}
.header-inf{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    background-color: orange;
}
.container2{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    height: auto;
}
main{
    width: 78%;
    margin-left: 1%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}
section{
    background-color: rgb(232, 249, 84);
    width: 18%;
    margin-bottom: 1%;
    margin-top:1% ;
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
}
aside{
    background-color: rgb(87, 50, 91);
    padding: 2%;
    margin-bottom: 1%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
article{
    display: flex;
    flex-direction: column;
}
.fotos1y2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fotos3y4{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
}
footer{
    margin: 1%;
    width: 100%;
}
.footer{
    background-color: rgb(39, 112, 24);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.foto1{
    background-color: rgb(171, 166, 250);
    width: 48%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 1%;
}
.foto2 {
    background-color: rgb(185, 246, 80);
    width: 48%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 1%;
    margin-left: 1%;
}
.foto3{
    background-color: rgb(244, 226, 127);
    width: 48%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 1%;
}
.foto4{
    background-color: rgb(247, 120, 120);
    width: 48%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-left: 1%;
    margin-top: 1%;
}
@media (min-width: 30em) and (max-width: 48em){

    .container2{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 1%;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    aside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}


@media (min-width: 20em) and (max-width: 29.9em){

    .container{
        width: 100%;
        flex-direction: column;
    }
    .header-sup{
        flex-direction: column;
        align-items: center;

    }
    .header-inf{
        flex-direction: column;
        align-items: center;
    }
    .container2{
        width: 100%; 
        display: flex;
        flex-direction:column;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    aside{
        flex-direction: row;
        width: 100%;
    }
    section{
        width: 100%;
        flex-direction: row;
      
    }
    .fotos1y2{
        flex-direction: column;
       align-items: center;
    }
    .fotos3y4{ 
        flex-direction: column;
        align-items: center;
    }

  }